*.pyc
*/__pycache__/*
.vscode
auths/migrations/0*
auths_api/migrations/0*
core/migrations/0*
core_api/migrations/0*
directory/migrations/0*
directory_api/migrations/0*
payment/migrations/0*
payment_api/migrations/0*
schedule/migrations/0*
schedule_api/migrations/0*
*/migrations/0*
rentmyvr_back.*
credentials.json
db.*
.env
venv/*
.env/*
.venv/*
media/*
static/*

# Distribution / packaging
.Python
dump.rdb
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

