{% load i18n %}{% autoescape off %}
{% blocktrans %}
    You're receiving this email because you requested a password reset for your user account at 
    <a href="{{ domain }}">{{ coy_name }}</a>.
{% endblocktrans %}

{% trans "Please the link below to choose a new password:" %}
{% block reset_link %}
{% comment %} {{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %} {% endcomment %}
{{ action_link }}
{% endblock %}
{% comment %} {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }} {% endcomment %}

{% trans "Thanks for using our service!" %}

{% blocktrans %}The {{ c }} team{% endblocktrans %}
{% endautoescape %}