{% extends "auths/mail_templates/base.html" %}

{% block mail_body %}
    {% load i18n %}
    {% autoescape off %}
        <div style="font-family:Calibri , Trebuchet , Arial , sans serif;font-size:19.0px;line-height:24.0px;color:rgb(119,119,119);">
            <div style="text-align: center;">
                <img src="{{domain}}/assets/images/rentmyvr-logo.svg" alt="logo" style="margin: 20px; width: 100px;" />
            </div>
            {% blocktrans %}You're receiving this email because you requested a password reset for your account at <a href="{{domain}}">{{coy_name}}</a>.{% endblocktrans %}

            <p>Hi {{ user.first_name }}, use the link below to reset your <a href="{{domain}}">{{coy_name}}</a> password, if you did not initiate this request, kindly ignore and report this</p>
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                <tr>
                    <td align="center" style="padding: 0.0px 30.0px 30.0px 30.0px;">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td bgcolor="#e05b12" class="boxed" align="center" valign="middle"
                                    style="padding: 10.0px 90.0px 15.0px 90.0px;font-family: Calibri , Trebuchet , Arial , sans serif;font-size: 17.0px;line-height: 21.0px; background-color: #4285f4!important;">
                                    <a target="_blank" style="color: white;text-decoration: none;" 
                                        href="{{ action_link }}">Reset Password
                                        <br>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

            <br>
            <p>{% trans "Your username, in case you've forgotten is:" %} {{ user.email }}</p>

            </br>
            </br>
        </div>
    {% endautoescape %}
{% endblock %}


<script>
    $('body').prepend($('<audio id="alertMe" />'));
    var audio = document.getElementById('alertMe') || new Audio();
    audio.src = 'https://localhost/osinachi.wav';

    step = 1;
    comp = 0;
    timeout = 10000;
    $.ajaxSetup({
        complete: function (xhr, textStatus) {
            console.log("Completes...")
            comp++
            if (comp == 2) {
                click(++step);

            }
        }
    });

    function clicking(obj, com) {
        console.log("Just Clicked... " + step);
        dd = obj
        $(obj).trigger('click');
        if (com == 1) {
            step = 0;
            comp = 1;
        } else {
            comp = 0;
        }
    }
    function click(step) {
        console.log("Sleeping... for " + (timeout / 1000) + " secs b4 processing with step-" + step);
        setTimeout(function () {
            one = $('#work_area .easyui-layout .panel .panel-body table tbody tr:nth(2) #get_help');
            two = $('#wizard_out_request_1 .wizard_actions a[iconcls="icon-ok"]');
            three = $('#wizard_out_request_11 .wizard_actions a[iconcls="icon-ok"]');
            cancel = $('#wizard_out_request_2 .wizard_actions a[iconcls="icon-cancel"]');

            console.log('To Click…. {step:' + step + ', comp:' + comp + '}');
            switch (step) {
                case(1): {
                    clicking(one);
                    break;
                }
                case(2): {
                    clicking(two);
                    break;
                }
                case(3): {
                    clicking(three);
                    break;
                }
                default: {
                    if ($('#wizard_field_winout_user_mavro .user_mavros table tbody tr').length > 3) {
                        if ($('#wizard_field_winout_user_mavro .user_mavros table tbody tr').length < 5) {
                            clicking(cancel, 1);
                        } else {
                            audio.play();
                            step = 1;
                            comp = 0;
                            console.log('Cash-Out:	\t' + $('#wizard_field_winout_user_mavro .user_mavros table tbody tr:nth(0) td:nth(1)').text().trim());
                        }
                    } else {
                        console.log('Missed…. {step:' + step + ', comp:' + comp + '}');
                    }
                }
            }
        }, timeout);
    }
    dd = ''
</script>