{% extends "auths/base.html" %}
{% load static i18n bootstrap4 %}

{% block contents %}

{#    <link href="{% static 'css3-social-signin-buttons/css3-social-signin-buttons.css' %}" rel="stylesheet">#}
    <h4 class="auth-header">Change Password</h4>

    <form method="post">
        {% csrf_token %}

        {% if form.errors %}
            {% include 'account/form_errors.html' %}
        {% endif %}

        {% if token %}
            <input type="hidden" name="forced_token" value="{{ token|safe }}" >
        {% else %}
            <div class="form-group">
                <label for="id_old_password">{% trans 'Old password:' %}</label>
                <input type="password" name="old_password" class="form-control m-input m-login__form-input--last" placeholder="{% trans 'Old password:' %}" maxlength="20" title="" required="" id="id_old_password">
                <div class="pre-icon fal fa-user-lock"></div>
            </div>
        {% endif %}

        <div class="form-group">
            <label for="id_old_password">{% trans 'New password:' %}</label>
            <input type="password" name="new_password1" class="form-control m-input m-login__form-input--last" placeholder="{% trans 'New password:' %}" maxlength="20" title="" required="" id="id_new_password1">
            <div class="pre-icon fal fa-user-lock"></div>
        </div>

        <div class="form-group">
            <label for="id_old_password">{% trans 'New password:' %}</label>
            <input type="password" name="new_password2" class="form-control m-input m-login__form-input--last" placeholder="{% trans 'New password:' %}" maxlength="20" title="" required="" id="id_new_password2">
            <div class="pre-icon fal fa-user-lock"></div>
            {% if form.new_password2.help_text %}
                <div class="help">{{ form.new_password2.help_text|safe }}</div>
            {% endif %}
        </div>

        <div class="buttons-w">
            <button class="btn btn-primary mr-1 btn-lg mb-3 btn-block" type="submit"><i class="far fa-sign-in-alt"></i> {% trans 'Change my password' %}</button>
            <div class="clearfix"></div>
        </div>


    </form>
{% endblock %}