{% extends "auths/base.html" %}
{% load i18n static %}

{% block contents %}

    <h4 class="auth-header">Change Password</h4>
    {% if validlink %}
        <form role="form" method="post">
            {% csrf_token %}


            <div class="form-group">
                <label for="id_new_password1">{% trans 'New Password' %}:</label>
                <input type="password" name="new_password1" class="form-control m-input m-login__form-input--last" placeholder="New Password" maxlength="20" title="" required="" id="id_new_password1">
                <div class="pre-icon fal fa-lock-alt"></div>
                {{ form.new_password1.errors }}
            </div>

            <div class="form-group">
                <label for="id_new_password2">{% trans 'Confirm Password' %}:</label>
                <input type="password" name="new_password2" class="form-control m-input m-login__form-input--last" placeholder="Confirm Password" maxlength="20" title="" required="" id="id_new_password2">
                <div class="pre-icon fal fa-lock-alt"></div>
                {{ form.new_password2.errors }}
            </div>

            <div class="buttons-w">
                <button class="btn btn-primary mr-1 mb-2" type="submit">{% trans 'Change my password' %}</button>
            </div>
{##}
{#            <div class="col-12">#}
{#                <p>#}
{#                    <a href="javascript:;">#}
{#                        <img alt="" src="{% static 'img/app-store-280x86.png' %}" style="width: 140px; height: 43px;">#}
{#                    </a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;#}
{#                    <a href="javascript:;">#}
{#                        <img alt="" src="{% static 'img/google-play-280x86.png' %}" style="width: 140px; height: 43px;">#}
{#                    </a>#}
{#                </p>#}
{#            </div>#}
        </form>

    {% else %}

        <div class="row align-items-center">
            <div class="col-12 p-5">

                <p class="text-justify">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new " %}<a href="{% url 'account:password_reset' %}">{% trans "password reset" %}</a> </p>

                <a href="{% url 'account:login' %}"  class="btn btn-focus btn-primary float-right">{% trans "Login" %}</a>

            </div>
        </div>

    {% endif %}
{% endblock %}