{% extends "auths/base.html" %}
{% load bootstrap4 static %}

{% block contents %}

    <h4 class="auth-header">Forgotten Password ?</h4>

    <form class="" action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form  %}
        <a href="{% url 'account:login' %}" style="font-family: Poppins;" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">Cancel</a>
        <button type="submit" style="font-family: Poppins; color: white;" class="btn btn-primary">Request</button>
    </form>
    <script src="{% static 'js/popper.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
{% endblock %}