{% extends "auths/base.html" %}
{% load i18n %}

{% block contents %}

    <h4 class="auth-header">Password Reset</h4>
    <div class="row">
        <div class="col-12 p-5">

            <p class="text-justify">{% trans "We've emailed you instructions for resetting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

            <p class="text-justify">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

            <a href="{% url 'account:login' %}"  class="btn btn-focus btn-primary float-right">Login</a>

        </div>
    </div>

{% endblock %}

